
.header{
    position: relative;
    bottom: 2px;
    --ion-background-color:rgb(0, 157, 255);
    height: 70px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.items{
    --ion-background-color:rgb(208, 217, 225);
    margin: 20px;
    height:fit-content;
}
.logout{
    
    color:white;
    font-weight: bold;
}
.title{
    
    color:white;
    font-weight: bold;
}