<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="Logout()" class="logout">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contain">
    <button (click)="addCompany()" class="itembutton">Add Company</button>
  </div>
  <div class="contain">
    <button (click)="addVehicle()" class="itembutton">Add Vehicle</button>
  </div>
  <div class="contain">
    <button class="itembutton" (click)="viewPendingBookings(vehicle)">Approve Bookings</button>
  </div>
    <div class="contain">
    <button class="itembutton" (click)="viewUserFeedback()">View User Feedback</button>
  </div>
  <!-- <div class="contain">
    <button (click)="viewVehicleDetails(vehicle)" class="itembutton">Delete Vehicles</button>
  </div> -->
  <div class="contain">
    <button (click)="update()" class="itembutton">Edit</button>
  </div>
  <ion-fab vertical="bottom" horizontal="end" class="fabb">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>