<ion-header>
  <ion-toolbar >
    <ion-title class="title">Edit Details</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="vehicle">
    <ion-item>
      <ion-label position="floating">name</ion-label>
      <ion-input [(ngModel)]="vehicle.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">price</ion-label>
      <ion-input [(ngModel)]="vehicle.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Car Model</ion-label>
      <ion-input [(ngModel)]="vehicle.model"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Company</ion-label>
      <ion-input [(ngModel)]="vehicle.company"></ion-input>
    </ion-item>
  </div>
  <ion-item>
  <ion-button (click)="updateVehicleDetails()" color="success" >Update</ion-button>
  <ion-button (click)="deleteVehicleDetails()" color="danger" class="delete">Delete</ion-button>
  </ion-item>

</ion-content>
