
<ion-content class="container">
    <div class="image">
        <ion-img src="../../assets/images/car.png" width="100px" height="60px"></ion-img>
    </div>
    <div class="midiv">
        <h2 class="heading">Car Rental</h2>
        <p class="home"> Rates so low,you won't think twice</p>
    </div>
    <div>
        <ion-button class="btn" type="submit" shape="square" expand="block" color="danger" routerLink="/user-login" >
            <ion-icon name="arrow-forward" slot="end" class="icon"></ion-icon>
            Get Started
        </ion-button>
    </div>
    
</ion-content>
